.container {
    background-color: blanchedalmond;
    color:black;
}
#titulo {
    background-color: chocolate;
    color:aqua;
}
.paragrafo {
    background-color: blanchedalmond;
    color:black;

}
